Django==1.5
argparse==1.2.1
dj-static==0.0.6
-e git+https://github.com/dschep/django-mutuallyexclusive-formfields.git@c8c0ff962116fb706f4f404cbc92c7c1224ca29a#egg=django_mutually_exclusive_form_fields-master
gunicorn==19.0.0
requests==2.4.3
static3==0.5.1
wsgiref==0.1.2
