body {
    font-family: jaf-bernino-sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.helptext {
    display: block;
    color: #505050;
    font-size: .75em;
}
form label {
    vertical-align: top
}
